

enrich {

  streams {

    in {
      # Stream/topic where the raw events to be enriched are located
      raw = snowplow_raw_good
    }

    out {
      # Stream/topic where the events that were successfully enriched will end up
      enriched = snowplow_enriched_good
      # Stream/topic where the event that failed enrichment will be stored
      bad = snowplow_enriched_bad
      partitionKey = event_id
    }

    sourceSink {
      enabled =  kafka
      # Minimum and maximum backoff periods, in milliseconds
      brokers = "172.16.33.91:9093"
      backoffPolicy {
         minBackoff = 200
         maxBackoff = 1000
      }

      # Or Kafka (Comment out for other types)
      # Number of retries to perform before giving up on sending a record
      retries = 1
    }

    buffer {
      byteLimit = 1000000
      recordLimit = 0 # Not supported by Kafka; will be ignored
      timeLimit = 100000
    }

    appName = "enrich"
  }
}

